{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <h1>Fabian</h1>
  <div id="root">{{render | raw}}</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}